/* Estilo general de la página */
body {
  margin: 0;
  padding: 0;  
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 1%;
  width: 100%;
}

/* Estilo de la barra de navegación */
.navbar {
  overflow: hidden;
  position: sticky;
  top: 0px;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #003856;
  /*border-bottom: 1px solid #3A8BC5; /* Agregar un borde azul en la parte inferior */
}

.navbar-right > a {
  font-size: 18px;
  text-decoration: none;
  padding: 15px;
  color: #fff;
}


header {
  width: 100%;
  height: 10vh;
  z-index: 1;
  position: relative; /* Agregamos esta propiedad para establecer un contexto de apilamiento */
}

.image-header {
  width: 100%;
  height: 100%;
  
  background-image: url(./resource/fondo.jpg);
  background-position: center center;
  background-size: cover; /* Para ajustar la imagen al tamaño del elemento */
  position: fixed; /* Fija la imagen en su posición original */
  z-index: -1;
}

.section-principal {
  display: flex;
  justify-content: center;
  align-items: center;
}

.header {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin: 0%;
  padding: 0%;
}

.banner {
  width: 50%;
}

.title-princpal {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 50px;
  margin-bottom: 5%;
}

.title-princpal-span {
  font-size: 55px;
  color: #3a8bc5;
}


.bi-social-networks {
  margin-top: 2%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.bi-social-networks .bi {
  margin-left: 5%;
  font-size: 35px;
  text-decoration: none;
  color: #2888cc;
  transition: ease-out 0.2s;
}

.bi-social-networks .bi-whatsapp:hover {
  color: #16c34a;
  font-size: 30px;
}

.bi-social-networks .bi-instagram:hover {
  color: #cc2366;
  font-size: 30px;
}

.bi-social-networks .bi-facebook:hover {
  color: #0f8ff2;
  font-size: 30px;
}

.bi-social-networks .bi-linkedin:hover {
  color: #0073b2;
  font-size: 30px;
}

/* Secciones */
.sections {
  padding: 5%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 80%;
  margin-bottom: 1%;
  background-color: #fafafa;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px 1px,
    rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
  -webkit-transition: ease-out 0.4s;
  -moz-transition: ease-out 0.4s;
  transition: ease-out 0.6s;
}

/* Estilo para la sección del formulario */
.section-form {
  background-color: #fafafa;
  display: flex;
  justify-content: space-between; /* Distribuye los elementos a lo largo del eje horizontal */
  align-items: center; /* Centra verticalmente los elementos */
  width: 90%;
  margin-bottom: 5%;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px,
    rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;

  -webkit-transition: ease-out 0.4s;
  -moz-transition: ease-out 0.4s;
  transition: ease-out 0.6s;
}
.section-form:hover, .section-form:focus,
.sections:hover{
  width: 100%;
}


/* Estilo para la imagen */
#imagen-form {
  width: 55%;
  max-width: 100%;
}

/* Estilo para el formulario */
.form-solicitud {
  display: flex;
  justify-content: start;
  flex-direction: column;
  align-items: center;
  width: 45%;
  padding-left: 30px;
  padding-right: 30px;
  height: 518px; /* Hace que el formulario ocupe todo el alto de section-form */
}

.form-solicitud h1,  .sections h1{
  display: flex;
  justify-content: center;
  width: 100%;
  font-size: 50px;
  color: #003856;
}

.inputs-form {
  display: flex;
  align-items: start;
  padding: 0%;
  margin: 0%;

  width: 100%;
}

/* Estilo para los campos de entrada y el textarea */
.inputs-form input,
textarea {
  width: 100%;
  border: none;
  color: #0073b2;
  border-bottom: 1px solid #0f8ff2; /* Borde inferior transparente inicialmente */
  padding: 5px;
  margin-bottom: 5%;
  transition: border-color 0.3s; /* Cambio de color del borde en 0.3 segundos */
  background-color: transparent; /* Fondo transparente */
  font-size: 20px;
}

.inputs-form input:hover,
.inputs-form input:focus,
textarea:hover,
textarea:focus {
  outline: none;
  border-color: #21487c; /* Cambia a un color verde al pasar el cursor */
}

.inputs-form input::placeholder,
textarea::placeholder {
  color: #00518f8a;
}

#name {
  width: 40%;
}
#email {
  width: 60%;
  margin-left: 5%;
}

/* Botones */
.contact-button {
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  width: 40%;
  padding: 11px 30px;
  background-color: transparent;
  color: #3a8bc5;
  border: 1px solid #3a8bc5;
  text-decoration: none;
  -webkit-transition: ease-out 0.4s;
  -moz-transition: ease-out 0.4s;
  transition: ease-out 0.6s;
  outline: none;
  
}
.contact-button i{
  padding-top: 5px;
  font-size: 28px;
}


.contact-button:hover{
  box-shadow: inset 400px 0 0 0 #3a8bc5;
  color: #fff;
}
.contact-button:hover i {
  color: #fff;
}

.div-button{
  width: 100%;
  display: flex;
  align-items: end;
  justify-content: end;
}


/*SOCIAL-NETWORK*/
.social-networks-container{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}


.social-networks{
  display: flex;
  justify-content: center;
  align-items: center;
  background: #003856;
  width: 150px;
  height: 150px;
  margin: 2%;
  border-radius: 50%;
  -webkit-transition: ease-out 0.4s;
  -moz-transition: ease-out 0.4s;
  transition: ease-out 0.6s;
}

.social-networks:hover{
  background: #80e1a7;
}

.social-networks .bi{
  font-size: 80px;
  color: #fff;
}

.co-whatsapp:hover {
  background-color: #16c34a;
  
}

.co-instagram:hover {
  background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%,#d6249f 60%,#285AEB 90%);
  
}

 .co-facebook:hover {
  background-color: #0f8ff2;
  
}

 .co-linkedin:hover {
  background-color: #0073b2;
  
}