/* variables.css */
:root {
  --flex-transition: 0.3s;
  --button-transition: 0.4s;
}

html {
  scroll-behavior: smooth;
}

/* ************************ESTILOS GLOBALES************************ */
body{
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0%;
  width: 100%;   
  padding: 0%; 
  align-items: center;
  font-family: 'Poppins', sans-serif;
  /* overflow: hidden; */
}

section{
  width: 100%;  
  height: calc(100vh - 48px);
  display: flex;
  align-items: center;
  justify-content: space-between;
  transition: transform 0.5s;
}

.title-principal{
  margin-top: 2%;
  margin-bottom: 0%;
  font-size: 20px;
  color: #0f8ff2;
}

/* ********************************Estilo base para la barra de navegación*********************************/
.navbar {
  background-color: #000000f1;
  width: 100%;
  height: 48px; /* Ajusta la altura de tu barra de navegación */
  position: fixed;
  display: flex;
  justify-content: space-between;
  align-items: center;
  top: 0;
  left: 0;
  z-index: 1000; /* Ajusta el valor del z-index según sea necesario */  
  /* border-bottom: 1px solid #ffffff; */

}
.navbar-left, .navbar-right{
  padding-left: 20px;
  padding-right: 20px;
}

/* Estilo para los enlaces de la barra de navegación */
.links {
  text-decoration: none;
  color: #ffffff; /* Cambia esto al color de texto deseado */
  margin: 0 15px; /* Espacio entre enlaces */
}

/* ******************************HEADER*******************************/

header{
  margin: 0%;
  padding: 0%;
  width: 100%;
  height: 100vh;  
}

.backgroud-image-header{ 
  width: 100%;
  height: 100%;  
  background-image: url(../resource/img-header.jpg);
  background-position: center center;
  background-size: cover;  
  /* background-attachment: fixed; */
}

.description-header{
  background-color: rgba(0, 0, 0, 0.663);
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;    
}



.body-copy-header {
  margin: 3%;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 70px;  
  color: #fff;
}

.body-copy-header-span {
  font-size: 90px;
  color: #1fb0fd;
}

.contact-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 20%;  
  font-size: 20px;
  padding: 11px 30px;
  background-color: #a7a7a72e;
  color: #fff;
  border: 1px solid #ffffff;
  text-decoration: none;
  transition: var(--button-transition);
  outline: none;
  
}
.contact-button i{
  padding-top: 5px;
  font-size: 28px;
}

.contact-button:hover{
  border: 1px solid #3a8bc5;
  box-shadow: inset 600px 0 0 0 #3a8bc5;
  color: #fff;
}
.contact-button:hover i {
  color: #fff;
}

.bi-social-networks {
  margin-top: 2%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.bi-social-networks .bi {
  margin-left: 5%;
  font-size: 35px;
  text-decoration: none;
  color: #ffffffc3;
  transition: ease-out 0.2s;
}

.bi-social-networks .bi-whatsapp:hover {
  color: #16c34a;
  font-size: 40px;
}

.bi-social-networks .bi-envelope-fill:hover {
  color: #d64a3a;
  font-size: 40px;
}

.bi-social-networks .bi-linkedin:hover {
  color: #0066c8;
  font-size: 40px;
}


/* ****************************ESTILOS DEL CUEPO DE LA PÁGINA**************************** */
main{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;  
  margin: 0%;
  padding: 0%;  
  height: 100%;
}

/* ****************SECCION DE ABOUT****************  */
#about{
  border: none;
  background-color: #fff;
  border-bottom: #07273897 solid 1px;  
  padding: 0%;
  margin: 0%;
}

.article-img-container-about {  
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  height: 100%;  
  margin: 0%;
  padding: 0%;  
}

.article-img-container-about img {
  width: 100%;
  height: 100%;
  object-fit:  cover;
}

.article-about {
  overflow: hidden;
  width: 50%;  
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  text-align: justify;      
}

.div-about {
  padding-left: 25PX;
  padding-right: 25PX;
}


/* ESTILOS DE SERVICIOS */
#services-briefcase{
  flex-direction: column;
}

#services-briefcase .title-principal{
  font-size: 25px;
}
.services-briefcase-internal-container{
  width: 99%;
  height: 100%;  
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-service{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  width: 20%;
  height: 85%;  
  max-width: 100%;
  border: #0727380e solid 1px;   
  transition: var(--flex-transition);
  padding: 15px;
  background-color: #fff;
  text-align: left;  
}

.card-service > h3{
  text-align: center;  
}
.card-service img {
  width: 50%;
  height: auto;
  max-height: 50%; /* ajusta según necesidad */
  object-fit: cover; 
  transition: var(--flex-transition);
}

.card-service:hover > img{
  width: 60%;
  height: auto;
  max-height: 60%; /* ajusta según necesidad */
}

.Asesoria:hover,
.Auditoria:hover,
.Sostenibilidad:hover,
.Cumplimiento:hover,
.Analiticos:hover {
  border: #1fb0fd solid 1px;
  /* width: 21%; */
}

.card-service:hover > h3{
  color: #1fb0fd;
  /* font-size: 25px; */
}

/* ****************SECCION DE CONTACTO*****************/
#contact{
  border: none;
  border-top: #07273822 solid 1px;
}

#contact >  .article-contact h1{
  display: flex;
  justify-content: center;
  width: 100%;
  font-size: 35px;
  margin-top: 0%;
  margin-bottom: 10%;
}

.article-img-container-contact{
  width: 50%;
  padding: 0%;
  height: 100%;
  overflow: hidden;
  background-image: url(../resource/img-form-contact.jpg);  
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

/* ***************ESTILOS LADO DERECHO IZQUIERDO*************** */
.article-contact{
  padding-left: 50px;
  padding-right: 50px;
  overflow: hidden;
  width: 50%;  
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  text-align: justify;    
  background-color: #fff;
}

#application-form{
  padding: 0;
  margin: 0;
  width: 100%;  
}

/* Estilo para los campos de entrada y el textarea */

.input-container {
  position: relative;
  margin-bottom: 8%;
  width: 100%;
}

.inputs-form {
  display: flex;
  justify-content: center;
  width: 100%;   
}

.input-container > #name{
  width: 90%;  
}
.input-container > #email{
  width: 100%;  
}

.input-container input,
.input-container textarea {
  width: 100%;
  border: none;
  color: #072738e0;
  border-bottom: 2px solid #07273842;
  padding: 5px;
  background-color: transparent;
  font-size: 20px;
  font-family: 'Poppins', sans-serif;
}

.input-container label {
  position: absolute;
  top: 0;
  left: 0;
  transition: all 0.3s ease;
  pointer-events: none;
  font-size: 16px;
  color: #0727385e;
}

.input-container input:focus + label,
.input-container textarea:focus + label,
.input-container input:valid + label,
.input-container textarea:valid + label {
  top: -20px;
  font-size: 14px;
  color: #1fb0fd;
}

.input-container input:focus,
.input-container textarea:focus {
  outline: none;
  border-color: #1fb0fd;
}

.div-button{
  width: 100%;  
  display: flex;
  align-items: end;
  justify-content: end;
  padding: 0%;
  margin: 0%;  
  margin-bottom: 1%;
}

.div-button .contact-button {
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40%;  
  font-size: 20px;
  background-color: transparent;
  color: #3a8bc5;
  border: none;
  border: 0.2px solid #3a8bc5;
  text-decoration: none; 
  transition: var(--button-transition);
  outline: none;
  
}

.div-button .contact-button i{
  padding-top: 5px;
  margin-left: 15px;
  font-size: 28px;
}

.div-button .contact-button:hover{
  border: 1px solid #3a8bc5;
  box-shadow: inset 100% 0 0 0 #3a8bc5;
  color: #fff;
}

.div-button .contact-button:hover i {
  color: #fff;
}

/* ***************ESTILOS LADO DERECHO FORMULARIO*************** */
.contact-img-internal-container {  
  display: flex;
  justify-content: center;
  align-items: center;  
  flex-direction: column;
  width: 100%;
  height: 100%;  
  overflow: auto;
  background-color: #071c27ad;  
  color: #fff;  
}
.contact-img-internal-container > h3{ font-size: 35px; }

.contact-description{  
  width: 100%;
  display: flex;  
  align-items: center;
  justify-content: center;
  margin-bottom: 5%;
  color: #fff;
  font-size: 16PX;
  text-decoration: none;
}
.contact-description:hover > .text-container{
  font-size: 20px;
  border-start-start-radius: 30px; 
  border-end-start-radius: 30px;  
}


.contact-description:hover .icon-contact-container > .bi-envelope-fill{
  color: #d64a3a;
  border: solid 1px #d64a3a;   
}
.contact-description:hover .icon-contact-container > .bi-whatsapp{
  color: #16c34a;
  border: solid 1px #16c34a;   
  
}
.contact-description:hover .icon-contact-container > .bi-linkedin{
  color: #0066c8;
  border: solid 1px #0066c8;   
  
}

.text-container{  
  width: 65%;
  display: flex;  
  justify-content: start;
  align-items: start;
  flex-direction: column;  
  transition: var(--flex-transition);
}
.icon-contact-container{
  width: 40%;
  display: flex;  
  justify-content: end;
  align-items: end;  
  transition: var(--flex-transition);
}

.icon-contact{
  display: flex;  
  justify-content: center;
  align-items: center;
  border: solid 1px #fff;  
  width: 60px;
  height: 60px;
  border-radius: 50%;  
  margin-right: 5%;  
  color: #fff;
  font-size: 30px;
  text-decoration: none;
  transition: var(--flex-transition);
}




/* **********************FOOTER********************** */

footer{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0%;  
  padding: 0%;
  width: 100%;
  height: 45vh;  
  background-color: #000000fd;
  overflow: hidden;
}

.div-footer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  margin: 0%;
  padding: 0%;
}

#copyright{  
  font-size: 15px;  
  color: #ffffff3f;
}

.icon-footer{
  display: flex;  
  justify-content: center;
  align-items: center;  
  width: 25%;
  height: 65%;

}

.footer-section{  
  width: 25%;
  height: 65%;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;  
  color: #fff;    

}


.footer-section a{
  margin-bottom: 5%;
  color: #fff;
  text-decoration: none;
  transition: var(--flex-transition);
}
.footer-section a:hover{
  font-size: 20px;
}

.icon-footer img{
  width: 100%;
  height: auto;
  max-height: 60%; /* ajusta según necesidad */
}
.footer-section h3{
  padding-bottom: 15px;
  border: none;
  border-bottom: #ffffff solid 1px;
}