main{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 0%;
  padding: 0%;
  background-color: #fffffff0;
  height: 100%;
}
.sections{
  height: 100vh;
}

/* Estilo para la sección del formulario */
.section-form {  
  background-color: transparent;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80%;
  height: calc(100vh - 60px);
  margin-bottom: 5%;
  /* border: #00000042 1px solid; */
  -webkit-transition: ease-out 0.4s;
  -moz-transition: ease-out 0.4s;
  transition: ease-out 0.6s;
}

/* Estilo para contenedor de información */
.contact-container {  
  display: flex;
  justify-content: center;
  align-items: center;  
  flex-direction: column;
  width: 36%;
  height: 100%;  
  overflow: auto;
  background-color: #0073b2;  
  color: #fff;
  font-size: 16PX;
}

.contact-container > h3{ font-size: 35px; }

.contact-principal-container{
  width: 75%;  
  display: flex;
  flex-direction: column;  
  justify-content: center;
  align-items: center;
}

.contact-description{
  width: 100%;
  display: flex;  
  align-items: center;
  margin-bottom: 5%;
  -webkit-transition: ease-out 0.4s;
  -moz-transition: ease-out 0.4s;
  transition: ease-out 0.6s;
}
.contact-description:hover{
  width: 130%;
  margin-left: 0%;
  margin-right: 0%;
  border-start-start-radius: 30px; 
  border-end-start-radius: 30px; 
  background-color: #07273821;  
}

.icon-contact-container{
  display: flex;  
  justify-content: center;
  align-items: center;
  border: solid 1px #fff;
  width: 60px;
  height: 60px;
  border-radius: 50%;  
  margin-right: 5%;  
}

.icon-contact-container > a{
  color: #fff;
  font-size: 30px;
}

.text-container{  
  display: flex;  
  justify-content: start;
  align-items: start;
  flex-direction: column;
}

/* Estilo para el formulario */
.form-solicitud {
  display: flex;
  justify-content: center;
  flex-direction: column;  
  align-items: start;
  width: 64%;
  padding: 3%;
  height: 100%;
  overflow: hidden;
}


.form-solicitud h1,  .sections h1{
  display: flex;
  justify-content: center;
  width: 100%;
  font-size: 45px;
  color: #072738ef;
}

.inputs-form {
  display: flex;
  align-items: start;
  padding: 0%;
  margin: 0%;

  width: 100%;
}

/* Estilo para los campos de entrada y el textarea */
.inputs-form input,
input,
textarea {
  width: 100%;
  border: none;
  color: #072738;
  border-bottom: 2px solid #777777af; /* Borde inferior transparente inicialmente */
  padding: 5px;
  margin-bottom: 6%;
  transition: border-color 0.3s; /* Cambio de color del borde en 0.3 segundos */
  background-color: transparent; /* Fondo transparente */
  font-size: 20px;
  font-family: 'Poppins', sans-serif;
}

.inputs-form input:hover,
.inputs-form input:focus,
input:hover,
input:focus,
textarea:hover,
textarea:focus {
  outline: none;
  border-color: #1fb0fd; /* Cambia a un color verde al pasar el cursor */
}

.inputs-form input::placeholder,
input::placeholder,
textarea::placeholder {
  color: #1d1d1d6c;
}

#name {
  width: 40%;
}

#asunto {  
  width: 80%;
}

#email {
  width: 60%;
  margin-left: 15px;
}

.div-button{
  width: 100%;  
  display: flex;
  align-items: end;
  justify-content: end;
  padding: 0%;
  margin: 0%;  
  margin-bottom: 5%;
}

.div-button .contact-button {
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40%;  
  font-size: 20px;
  background-color: transparent;
  color: #3a8bc5;
  border: none;
  border: 0.2px solid #3a8bc5;
  text-decoration: none;
  -webkit-transition: ease-out 0.4s;
  -moz-transition: ease-out 0.4s;
  transition: ease-out 0.3s;
  outline: none;
  
}

.div-button .contact-button i{
  padding-top: 5px;
  margin-left: 15px;
  font-size: 28px;
}

.div-button .contact-button:hover{
  border: 1px solid #3a8bc5;
  box-shadow: inset 400px 0 0 0 #3a8bc5;
  color: #fff;
}

.div-button .contact-button:hover i {
  color: #fff;
}
.sections-about{
  width: 100%;  
  height: calc(100vh - 60px);
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* SECCION ACERCA DE  */
.about-img-container{
  width: 55%;
  padding: 0%;
  height: 100%;  
  background-image: url(../resource/escena-oficina-cerca.jpg);
  background-position: center center;
  background-size: cover;
  background-attachment: fixed;
}

.prueba-container{

  padding: 50px;
}

.about-container{
  font-size: 21px;
  overflow: hidden;
  width: 55%;  
  /* margin-left: 1%;
  margin-right: 1%; */
  text-align: justify;
  /* border-block-start: 1px solid #072738;  
  border-block-end: 1px solid #072738; */
}
